@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --dark-blue: #2b3945;
  --very-dark-blue-bg: #202c37;
  --very-dark-blue-text: #111517;
  --dark-gray: #858585;
  --very-light-gray: #fafafa;
  --white: #ffffff;
  --shadow: 0 0.125rem 1rem #00000010;
  --focus-light: #4a90e2;
  --focus-dark: #68b5fb;
  --focus-ring-width: 3px;
}

body {
  color: var(--very-dark-blue-text);
  background: var(--very-light-gray);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px
}

body.dark nav {
  background-color: var(--dark-blue);
}

body.dark{
  color: var(--white);
  background-color: var(--dark-blue)
}

body.dark .card-body {
  background-color: var(--very-dark-blue-bg);
  border: 0;
}

body.dark input,
body.dark select {
  background-color: var(--very-dark-blue-bg);
  border: 0;
}

div:focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  color: var(--focus-light); 
  outline: var(--focus-ring-width) solid var(--focus-light);
  outline-offset: 2px;
}

a:active,
button:active {
  transform: scale(0.98);
}
